.navBlock2{
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.personalInfoBlock1Video{
    background-color: rgb(189, 211, 68);
    width: 30em;
    height: 15em;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 3em;
}

.personalInfoBlock1Text{
    background-color: var(--fifthYellow);
    width: 36em;
    height: 25em;
    align-self: center;
    margin-right: 2em;
    margin-left: 2em;
}
nav+div h2{
    color: var(--fifthYellow);
    font-family: 'Times New Roman', Times, serif;
    align-self: center;
    font-size: 100px;
}
#mainBlock{
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(7,150px);
}

#mainBlockOne{
    height: 100%;
    grid-row: 1;

}

#mainBlockTwo{
    grid-row: 2/5;
    height: 100%; 
    background-image: url("/images/calgary_tower.jpg");
    /*
    Image from: https://www.dreamstime.com/illustration/calgary-tower.html
    Not for decoration, because I am from there, and that is part of the content
    */
}
#mainBlockThree{
    grid-row: 5/8;
    height: 100%; 
    width: 100%;
}
article h2{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}
article p{
    text-align: start;
    margin: 2em;
    color: white;
}
.hideDisplay{
    display: none;
}
/*
----MEDIA QUERIES----
*/


@media screen and (max-width: 590px) {
    #mainBlock{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(7,1fr);
    }
    h1{
        display: none;
    }
    nav+div h2{
        font-size: large;
    }
    #mainBlockTwo{
        grid-row: 2/5;
    }
    .personalInfoBlock1Video{
        grid-row: 5/7;
    }
    .personalInfoBlock1Text{
        grid-row: 6;
    }
    .personalInfoContainer{
        display: none;
    }
    .personalInfoBlock1Video{
        display: none;
    }
    .personalInfoBlock1Text{
        display: none;
    }
    .showPersonalInfoBlock1Text{
        grid-row: 5;
    }
    .showPersonalInfoBlock1Video{
        grid-row: 6;
    }
    #video{
        height:300;
        width: 400;
    }




}
